.header{
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
}
.flex{
    padding-right: 10px;
    .circular{
      width: 100%;
      height: 342px;
      background: rgba(61,95,207,0.2);
      border: 1pt solid rgba(255,255,255,0.2);
      border-radius: 10px;
      box-shadow: 6px 6px 15px 0px rgba(106,151,255,0.2);
      .echarts{
        width: 100%;
        height: 250px
      }
      .name{
        font-size: 18px;
        font-family: Microsoft YaHei, Microsoft YaHei-Bold;
        font-weight: 700;
        text-align: left;
        color: rgba(186,210,242,1);
        margin: 20px 24px;
      }
      .classifiy{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 25px;
        .blank{
          position: relative;
          .icon{
            position: absolute;
            top: -21px;
            right: -6px;
            text-align: right;
            .iconfont{
              font-size: 34px;
            }
          }
        }
        
      }
      .classifiy-table{
        margin: 0 10px;
      }
      .info{
        margin: 20px 0 0 24px;
        font-size: 16px;
        font-family: Microsoft YaHei, Microsoft YaHei-Bold;
        font-weight: 700;
        text-align: left;
        color: rgba(186,210,242,1);
        margin: 20px 0 0 10px;
        .open{
          color: rgba(42,255,70,1);
          font-size: 16px;
          padding-right: 15px;
        }
        .close{
          color: rgba(255,42,42,1);
          font-size: 16px;
        }
        .info-name{
          vertical-align: super;
        }
        .number{
          font-size: 44px;
        }
        .number1{
          font-size: 44px;
          color: rgba(186,210,242,1);
        }
        .space{
          display: inline-block;;
          width: 40px;
        }
      }
    }
    .circular-sale{
      margin-top: 20px;
      height: 190px;
      padding-left: 20px;
      background: rgba(61,95,207,0.2);
      border: 1px solid rgba(255,255,255,0.2);
      border-radius: 10px;
      box-shadow: 6px 6px 15px 0px rgba(106,151,255,0.2);
      .title{
        font-size: 18px;
        font-family: Microsoft YaHei, Microsoft YaHei-Bold;
        font-weight: 700;
        color: #bad2f2;
      }
      .number{
        height: 100px;
        margin: 0;
        line-height: 100px;
        font-size: 50px;
        background: linear-gradient(#7b6aef, #336cf1);
        -webkit-background-clip: text;
        font-weight: 600;
        color: transparent;
      }
    }
    .circular-max{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      width: 100%;
      height: 190px;
      background: rgba(61,95,207,0.2);
      border: 1px solid rgba(255,255,255,0.2);
      border-radius: 10px;
      box-shadow: 6px 6px 15px 0px rgba(106,151,255,0.2);
      .text{
        width: 226px;
        height: 190px;
        font-size: 18px;
        font-weight: 700;
        font-family: Microsoft YaHei, Microsoft YaHei-Bold;
        color: rgba(186,210,242,1);
        margin-left: 20px;
        div{
          .name{
            vertical-align: super
          }
          .number{
            font-size: 34px;
          }
          margin: 20px 0 0 10px;
          .open{
            color: rgba(42,255,70,1);
            font-size: 16px;
            padding-right: 15px;
          }
          .close{
            color: rgba(255,42,42,1);
            font-size: 16px;
          }
        }
      }
      .vide{
        display: flex;
        justify-content:left;
        align-items: center;
        width: 100%;
        .text{
          text-align: center;
        }
      }
    }
}
.mt20{
  margin-top: 20px;
}
.mt10{
  margin-top: 10px !important;
}
.mt0{
  margin-top: 0 !important;
}
/deep/ .el-table .two-row{
  background: #1D3A8F;
}
/deep/ .el-table .one-row{
  background: #1A3485;
}

